@font-face {
    font-family: old-english;
    src: url(./fonts/OldeEnglishRegular-Zd2J.ttf);
}
@font-face {
    font-family: cod;
    src: url(./fonts/CallOfOpsDuty-qAyq.ttf);
}
@font-face {
    font-family: codmw;
    src: url(./fonts/ModernWarfare-OV7KP.ttf);
}
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .navbar {
      padding-right: 400px;
      z-index: 2000;
    }
    li.nav-link {
        display: inline;
    }
    ul.nav-link {
        font-size: xx-large;
        text-align: center;
        font-size: 25px;
    }
    .logo {
        padding-left: 300px;
    }
    .navbar-brand {
        font-family: old-english;
        font-size: 40px;
    }
    section {
        min-height: 100vh;
        overflow-x: hidden;
    }
    #landing {
        min-height: 100vh;
        position: relative;
        z-index: 1000;
    }
    #particular {
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }
    .landtext {
        padding-top: 450px;
    }
    .curve-text {
        font: size 45px;
        font-family: codmw;
        text-shadow: 3px 3px 1px blue;
    }
    .old-text {
        font-family: cod;
        text-shadow: 3px 3px 1px black;
    }
    .colortext {
        font-family: old-english;
        font-size: 40px;
    }
    #ash {
        padding-top: 250px;
        padding-left: 100px;
    }
    #ash2 {
        padding-top: 100px;
    }
    .about {
        font-family: cod;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 4px;
        font-size: 40px;
        padding-top: 100px;

    }
    .about::first-letter {
        text-decoration:underline;
        text-decoration-color: blue;
        text-decoration-thickness: 8px;
      }
    .share {
        font-size: 20px;
    }
    .socials {
        font-size: x-large;
        padding-right: 300px;
    }
    .skills {
        font-family: cod;
        font-size: xx-large;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 4px;
    }
    .skills::first-letter {
        text-decoration:underline;
        text-decoration-color: blue;
        text-decoration-thickness: 8px;
      }
    .skill {
        font-size: large;
        font-weight: bold
    }
    .skilltext {
        font-size: medium;
    }
    .soft {
        font-family: cod;
        font-size: small;
    }
    #resume {
        min-height: 50vh;
    }
    .btn:hover {
        color: black;
        background-color: white;
        }
    .resume {
        font-family: cod;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 4px;
        font-size: 40px;
        padding-top: 100px;

    }
    .resume::first-letter {
        text-decoration:underline;
        text-decoration-color: blue;
        text-decoration-thickness: 8px;
      }
      #rescard:hover {
        background-color: black;
        color: white;
    }
    #rescard1:hover {
        background-color: black;
        color: white;
    }
    #testimonials {
        min-height: 100vh;
        background-image: url(/images/test.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    .test-title {
        font-family: cod;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 4px;
        font-size: 40px;
        padding-top: 100px;
    }
    .test-title::first-letter {
        text-decoration:underline;
        text-decoration-color: blue;
        text-decoration-thickness: 8px;
      }
    .test {
        font-family: codmw;
        text-decoration: underline;
        text-decoration-color: blue;
        font-size: 35px;  
    }
    
    .Portfolio {
        padding-left: -800px;
        font-family: cod;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 4px;
        font-size: 40px;
        padding-top: 100px;
        margin-bottom: 25px;
    }
    .Portfolio::first-letter {
        text-decoration:underline;
        text-decoration-color: blue;
        text-decoration-thickness: 8px;
      }
    .card-title {
        font-family: codmw;
        text-decoration: underline;
        text-decoration-color: blue;
    }
    #Projectab:hover {
        color: white;
        background-color: black;
    }
    #send {
        height: 50px;
        width: 150px;
        font-size: large;
        }
        #fname {
        height: 50px;
        width: 500px;
        }
        #Email {
        height: 50px;
        width: 500px; 
        }
        #subject {
        width: 500px; 
        }
        .footer-basic {
            padding:40px 0;
            background-color:#ffffff;
            color:#4b4c4d;
          }
          
          .footer-basic ul {
            padding:0;
            list-style:none;
            text-align:center;
            font-size:18px;
            line-height:1.6;
            margin-bottom:0;
          }
          
          .footer-basic li {
            padding:0 10px;
          }
          
          .footer-basic ul a {
            color:inherit;
            text-decoration:none;
            opacity:0.8;
          }
          
          .footer-basic ul a:hover {
            opacity:1;
          }
          
          .footer-basic .social {
            text-align:center;
            padding-bottom:25px;
          }
          
          .footer-basic .social > a {
            font-size:24px;
            width:40px;
            height:40px;
            line-height:40px;
            display:inline-block;
            text-align:center;
            border-radius:50%;
            border:1px solid black;
            margin:0 8px;
            color:inherit;
            opacity:0.75;
          }
          
          .footer-basic .social > a:hover {
            opacity:0.9;
          }
          
          .footer-basic .copyright {
            margin-top:15px;
            text-align:center;
            font-size:13px;
            color:#aaa;
            margin-bottom:0;
          }