@font-face {
    font-family: old-english;
    src: url(./OldeEnglishRegular-Zd2J.ttf);
}
@font-face {
    font-family: cod;
    src: url(./CallOfOpsDuty-qAyq.ttf);
}
@font-face {
    font-family: codmw;
    src: url(./ModernWarfare-OV7KP.ttf);
}
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
  .navbar {
      padding-right: 400px;
      z-index: 1000;
    }
    li.nav-link {
        display: inline;
    }
    ul.nav-link {
        font-size: xx-large;
        text-align: center;
        font-size: 25px;
    }
    .logo {
        padding-left: 300px;
    }
    .navbar-brand {
        font-family: old-english;
        font-size: 40px;
    }
    section {
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #landing {
        min-height: 100vh;
        position: relative;
        z-index: 100;
    }
    #particular {
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }
    .landtext {
        padding-top: 450px;
    }
    .curve-text {
        font: size 45px;
        font-family: codmw;
        text-shadow: 3px 3px 1px blue;
    }
    .old-text {
        font-family: cod;
        text-shadow: 3px 3px 1px black;
    }
    .colortext {
        font-family: old-english;
        font-size: 40px;
    }
    #ash {
        padding-top: 250px;
        padding-left: 100px;
        opacity: 0.7
    }
    #ash2 {
        padding-top: 100px;
    }
    .about {
        font-family: cod;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 4px;
        font-size: 40px;
        padding-top: 100px;

    }
    .about::first-letter {
        text-decoration:underline;
        text-decoration-color: blue;
        text-decoration-thickness: 8px;
      }
    .share {
        font-size: 20px;
    }
    .socials {
        font-size: x-large;
        padding-right: 300px;
    }
    .skills {
        font-family: cod;
        font-size: xx-large;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 4px;
    }
    .skills::first-letter {
        text-decoration:underline;
        text-decoration-color: blue;
        text-decoration-thickness: 8px;
      }
    .skill {
        font-size: large;
        font-weight: bold
    }
    .skilltext {
        font-size: medium;
    }
    .soft {
        font-family: cod;
        font-size: small;
    }
    #resume {
        min-height: 130vh;
    }
    .btn:hover {
        color: black;
        background-color: white;
        }
    .resume {
        font-family: cod;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 4px;
        font-size: 40px;
        padding-top: 100px;

    }
    .resume::first-letter {
        text-decoration:underline;
        text-decoration-color: blue;
        text-decoration-thickness: 8px;
      }
      #rescard:hover {
        background-color: black;
        color: white;
    }
    #testimonials {
        min-height: 100vh;
        background-image: url(/test.jpg);
        background-attachment: fixed;
    }
    .test-title {
        font-family: cod;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 4px;
        font-size: 40px;
        padding-top: 100px;
    }
    .test-title::first-letter {
        text-decoration:underline;
        text-decoration-color: blue;
        text-decoration-thickness: 8px;
      }
    .test {
        font-family: codmw;
        text-decoration: underline;
        text-decoration-color: blue;
        font-size: 35px;  
    }
    
    .Portfolio {
        padding-left: 300px;
        font-family: cod;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 4px;
        font-size: 40px;
        padding-top: 100px;
        margin-bottom: 25px;
    }
    .Portfolio::first-letter {
        text-decoration:underline;
        text-decoration-color: blue;
        text-decoration-thickness: 8px;
      }
    .card-title {
        font-family: codmw;
        text-decoration: underline;
        text-decoration-color: blue;
    }
    #Projectab:hover {
        color: white;
        background-color: black;
    }
    #send {
        height: 50px;
        width: 150px;
        font-size: large;
        }
        #fname {
        height: 50px;
        width: 500px;
        }
        #Email {
        height: 50px;
        width: 500px; 
        }
        #subject {
        width: 500px; 
        }
        .footer{
  
            position: fixed;
            bottom: 0 ;
            margin:0;
            width: 100%;
            background-color: black;
            display: inline-flex;
            overflow: hidden;
            white-space: nowrap;
          
          }
          
          .text
          { 
          padding-top: 10px;
              vertical-align: middle;
              font-size: 25px;
              color: white;
              margin: 0;
            width:100%;
              animation: marquee 10s linear infinite;
            display: inline-block;
            padding-right: 10px;
          }
          
          .info{
            height:auto;
            background-color:blue;
            padding: 10px 30px 10px 30px;
            font-size: x-large;
            color: black;
            z-index:1;
             display: block;
          }
          
          div:after {
              content:'';
            top:0;
              transform:translateX(100%);
              width:100%;
              height:220px;
              position: absolute;
              z-index:1;
              animation: slide 5s infinite;
          }
          
          @keyframes slide {
              0% {transform:translateX(-100%);}
              100% {transform:translateX(100%);}
          }